{% extends "base.html" %}
{% load staticfiles %}
{% block title %}La venta diaria{% endblock %}
{% block header %}
                        <h1 class="page-header">
                             Detalle de la Venta <small> diario.</small>
                        </h1>
{% endblock %}
{% block content %}
              <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Venta <br> Fecha: {{ venta.fecha }} <br> Cantidad: {{ venta.costo }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" method="POST">{% csrf_token %}
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <input name="fecha" required="" class="form-control" value="{{venta.fecha|date:"Y-m-d"}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Costo</label>
                                            <input type="number" step='0.1' name="costo" required="" class="form-control" value="{{venta.costo}}">
                                        </div>
                                        <button type="submit" class="btn btn-default">Guardar cambios</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}