{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Salida{% endblock %}
{% block header %}
                        <h1 class="page-header">
                             Producto <small>Salida.</small>
                        </h1>
{% endblock %}
{% block content %}
              <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Salida
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" method="POST">{% csrf_token %}
                                    	<div class="form-group">
                                            <label>Producto</label>
                                            <select name="producto" class="form-control">
                                            	{% for prod in productos %}<option value="{{ prod.id }}">{{ prod.nombre }}</option>{% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input type="number" name="cantidad" required="" class="form-control" placeholder="Cantidad">
                                        </div>
                                        <button type="submit" class="btn btn-default">Registrar</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}