{% load staticfiles %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap Styles-->
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static "css/font-awesome.css"%}" rel="stylesheet" />
     <!-- Custom Styles-->
    <link href="{% static "css/custom-styles.css"%}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href="{% static "css/css.css"%}" rel='stylesheet' type='text/css' />
   {% block otherhead %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><strong>Templo</strong></a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                    	<a href="#"><i class="fa fa-beer"></i> Almacen<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'almacen:stock' %}">Stock</a>
                            </li>
                            <li>
                                <a href="{% url 'almacen:lcompra' %}">Compras</a>
                            </li>
                            <li>
                                <a href="{% url 'almacen:lsalida' %}">Salidas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i> Finanzas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'finanzas:lgastosd' %}">Gastos Diarios</a>
                            </li>
                            <li>
                                <a href="{% url 'finanzas:lventasd' %}">Ventas Diarias</a>
                            </li>
                            <li>-------</li>
                            <li>
                                <a href="{% url 'finanzas:logastos' %}">Otros Gastos</a>
                            </li>
                            <li>
                                <a href="{% url 'finanzas:loventas' %}">Otros Ingresos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text-o"></i> Reportes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'finanzas:delmes' %}">Del mes</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  	<div class="header"> 
				{% block header %}{% endblock %}			
			</div>
            <div id="page-inner">
                {% block content %}{% endblock %}           
				<footer><p>All right reserved. El Chico Bonnuss</p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static "js/jquery-1.10.2.js"%}"></script>
     <!-- Bootstrap Js -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static "js/jquery.metisMenu.js"%}"></script>
    {% block otherscript %}{% endblock %}
    <!-- Custom Js -->
    <script src="{% static "js/custom-scripts.js"%}"></script>
</body>
</html>
